page-home {
.login_view { text-align: center; }
.login_view {
    padding: 0 20px;
    margin: 23px 0px 0px 0px;
}
img { 
    margin: 0 auto;
    display: block;
}
.error
{
	text-align: center;
	color: #8A0000;
	font-size: 16px;
	text-transform: uppercase;
}

}
