page-invite {
.error
{
	text-align: center;
	color: #8A0000;
	font-size: 16px;
	text-transform: uppercase;
}
 
.succ
{
	text-align: center;
	color: green;
	font-size: 16px;
	text-transform: uppercase;
}
}
